body {
    background: #9c9f84;
    width: 100%;
}
.picture {
    float:left;
    display: block;
    height: 458px;
    width: 257px;
    margin-right: 20px;
}
#header {
    text-align:center;
}
#introduction {
    display: block;
    height:458px;
}
#footer {
    display:block;
}
